# Environment
.env

# Virtualenv
.venv/

# Bytecode
__pycache__/
*.py[cod]

# Tests
.pytest_cache/

# Local DB for quick tests
test.db

# Alembic caches
alembic/__pycache__/
alembic/versions/__pycache__/
alembic/versions/

