services:
  fastapi-app:
    container_name: fastapi-app
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "${APP_PORT:-8000}:8000"
    env_file:
      - .env
    environment:
      # Substituir localhost por host.docker.internal para acessar banco local do Windows
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app
    restart: unless-stopped